.container {
  padding: 20px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  padding: 6px;
}

button {
  background: #0078d4;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.delete {
  background: #d9534f;
}
.back-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.back-btn:hover {
  background-color: #545b62;
}
